{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1>{% block title %}Thông tin tài khoản{% endblock %}</h1>
            <hr>
            <div class="row">
                <div class="col-lg-4 px-5 px-lg-2 text-center">
                    <img src="{{ profile.get_avatar }}" alt="" class="img-fluid rounded-circle">
                    <form action="" method="post">
                    {% csrf_token %}

                        <input type="hidden" name="full_name" value="{{ profile.full_name }}">
                        <input type="hidden" name="birth_date" value="{{ profile.birth_of_date|date:'Y-m-d' }}">
                    <button class="btn btn-primary w-100 mt-3 fw-medium text-uppercase w-100 rounded-pill" type="submit" name="verification_staff">Xác thực nhân viên</button>

                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger mt-3" role="alert">
                        {{ message }}
                      </div>
                    {% endfor %}
                {% endif %}
                    </form>
                    <button class="btn btn-primary w-100 mt-3 fw-medium text-uppercase w-100 rounded-pill disabled">kết nối hồ sơ sức khỏe</button>
                </div>
                <div class="col-lg-8">
                    {% if verification_staff %}
                    <h5>Tìm thấy {{ verification_staff|length }} thông tin nhân viên phù hợp</h5>
                    {% for staff in verification_staff %}
                    <ul>
                        <li>Họ và tên: {{ staff.full_name }} </li>
                        <li>Giới tính: {{ staff.get_sex_display }} </li>
                        <li>Ngày sinh: {{ staff.birth_date }} </li>
                        <li>Điện thoại: {{ staff.phone }} </li>
                        <li>Email: {{ staff.email }} </li>
                        <li>Địa chỉ: {{ staff.address }} </li>
                    </ul>
                    {% endfor %}
                    
                    
                    {% else %}
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ profile_form|crispy  }}
                        <button type="submit" class="btn btn-dark fw-medium text-uppercase w-100 rounded-pill" name="update_profile">cập nhập thông tin</button>
                    </form>
                    <button class="btn btn-outline-danger w-100 mt-3 fw-medium text-uppercase w-100 rounded-pill">thay đổi mật khẩu</button>

                    {% endif %}


                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}