{% extends 'account/base.html' %}
{% block title %}Đăng ký tài khoản{% endblock %}
{% load static %}
{% block content %}
<div class="bg-light border-bottom text-center py-3">
   <a href="{% url 'news:index' %}"><img src="{% static 'imgs/logo-dark-400.png' %}" alt="logo trung tâm y tế huyện anh sơn" style="width: 200px;"></a>
</div>
<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-10 col-sm-8 col-md-5 col-lg-4 col-xl-3 text-center">
            <a href="{% url 'account:register' %}" class="link-body-emphasis text-decoration-none"><i class="bi bi-chevron-left me-1"></i>Quay về trang trước</a>
            <h2 class="fw-medium text-dark mt-3">Tạo tài khoản với email</h2>
            
        </div>

    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-10 col-sm-8 col-md-5 col-lg-4 col-xl-3">
            <form action="" method="post">
                {% csrf_token %}
                <table>
                {{ form.as_table  }}
            </table>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                <label for="floatingInput">Địa chỉ email</label>
              </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="username">
                <label for="floatingInput">Tên đăng nhập</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password1">
                <label for="floatingPassword">Mật khẩu</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword2" placeholder="Password" name="password2">
                <label for="floatingPassword2">Xác nhận mật khẩu</label>
              </div>
              <button class="btn btn-lg btn-dark text-uppercase fw-medium w-100 mt-4" type="submit">tạo tài khoản</button>
            </form>
        </div>

        <div class="col-12 text-center mt-5">
            <p class="small text-secondary">
                Bằng việc tạo tài khoản, bạn đã đồng ý với các <br>
            <a href="" class="link-dark fw-medium small">THỎA THUẬN NGƯỜI DÙNG</a>
            & 
            <a href="" class="link-dark fw-medium small">CHÍNH SÁCH BẢO MẬT</a>
           
            của benhvienanhson.com
            </p>
            
        </div>

    </div>
</div>
{% endblock %}