{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title%}Đặt lịch khám{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center mt-3">
        <div class="col-lg-7">
            <h4 class="mb-4">ĐẶT LỊCH KHÁM</h4>
            <div class="bg-white p-2 rounded-4 shadow-sm">
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6"></div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}