{% load static %}
<footer class="bg-white mt-5">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-7 d-flex flex-column flex-sm-row justify-content-between pt-5 pb-4 align-items-center border-bottom px-0">
        <div class="text-start">
          <a href="{% url 'news:index'%}" class="link-dark link-offset-2 link-offset-3-hover link-underline-danger link-underline-opacity-0 link-underline-opacity-75-hover">
          <img src="{% static 'imgs/logo-dark-400.png'%}" alt="">
          <p class="mt-2 opacity-75 fw-semibold mb-0">Bệnh viện đa khoa - Y tế dự phòng - Dân Số.</p>
        </a>
        </div>
        <div class="align-items-start d-flex flex-column justify-content-between h-100 border-start ps-3  mt-3 mt-sm-0">
          <a href="tel:+84917631100" class="fw-semibold  link-dark link-offset-2 link-offset-3-hover link-underline-danger link-underline-opacity-0 link-underline-opacity-75-hover" >
            <span class="text-danger"><i class="bi bi-telephone me-2 text-dark opacity-75"></i>trực lãnh đạo 24/7 </span>0917631100
          </a>
          <a href="tel:+84917579677" class="link-dark opacity-75 link-offset-2 link-offset-3-hover link-underline-danger link-underline-opacity-0 link-underline-opacity-75-hover" >
            <i class="bi bi-envelope-at me-2"></i>trungtamytehuyenanhson@gmail.com
          </a>
          <a href="tel:+84917579677" class="link-dark opacity-75 link-offset-2 link-offset-3-hover link-underline-danger link-underline-opacity-0 link-underline-opacity-75-hover" >
            <i class="bi bi-facebook me-2"></i>fb.com/truyenthongyteanhson
          </a>
          <a href="tel:+84917579677" class="link-dark opacity-75 link-offset-2 link-offset-3-hover link-underline-danger link-underline-opacity-0 link-underline-opacity-75-hover" >
            <i class="bi bi-youtube me-2"></i>youtube.com/@trungtamytehuyeanhson
          </a>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <dic class="col-lg-6 d-flex flex-column flex-sm-row justify-content-between py-5 align-items-center px-0">
        <a href="#" class="fw-medium small link-dark link-offset-2 link-offset-3-hover link-underline-danger link-underline-opacity-0 link-underline-opacity-75-hover" >
          CHÍNH SÁCH BẢO MẬT
        </a>
        <a href="#" class="fw-medium small link-dark link-offset-2 link-offset-3-hover link-underline-danger link-underline-opacity-0 link-underline-opacity-75-hover" >
          THỎA THUẬN NGƯỜI DÙNG
        </a>
        <a href="#" class="fw-medium small link-dark link-offset-2 link-offset-3-hover link-underline-danger link-underline-opacity-0 link-underline-opacity-75-hover" >
          GIỚI THIỆU
        </a>
        <a href="#" class="fw-medium small link-dark link-offset-2 link-offset-3-hover link-underline-danger link-underline-opacity-0 link-underline-opacity-75-hover" >
          LIÊN HỆ
        </a>

      </dic>
    </div>
  </div>

    <!-- bottom content -->
    <section>
      <div class="container-fluid bg-dark py-5 text-center text-secondary">
          <a href="/about" class="text-white-50 text-decoration-none">benhvienanhson.com</a>
          is a project created and maintained by <a href="mailto:1nguyenhuuhieu@gmail.com" class="text-white-50 text-decoration-none">Nguyễn Hữu
            Hiếu</a> with <i class="fas fa-heart text-danger"></i>.
    </section>
    <!-- bottom content -->
  </footer><!-- end footer -->
