{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row mt-3 mt-sm-5 justify-content-center pb-5">
    <div class="col-lg-3 text-center ">
      {% include 'include/left_info.html' %}
    </div>
    <div class="col-lg-6">
      <form method="post" id="printJS-form">

      <h1 class="display-5 fw-bold mb-4">{% block title %}{{ post.title }}{% endblock %}</h1>
      <p class="text-muted fst-italic fs-6">{{ post.description }}</p>

      {% include 'include/post_info.html' %}
<div class="d-lg-none">
<div class="d-flex justify-content-end mt-3">

  <a href="#comment" class=" btn btn-light position-relative me-2">
    <span data-bs-toggle="tooltip" data-bs-title="Bình luận">
        <i class="bi bi-chat-left-text me-1"></i>
    </span>{{ post.comment_set.all|length }} Bình luận
</a>

  <form method="post">
    {% csrf_token %}
    <button type="submit" name="like" class="btn btn-light me-2"><i
            class="bi bi-bookmark{% if  has_reaction  %}-fill text-dark{% endif %} me-1"></i>Lưu
        </button>
</form>
<div class="btn-group">
  <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Chia sẻ
  </button>
  <ul class="dropdown-menu">
    <li><button class="btn btn-light dropdown-item" data-sharer="facebook" data-hashtag="thiduananhson"
      data-url="{{ request.build_absolute_uri }}"><i
          class="bi bi-facebook me-2"></i>Chia sẻ qua facebook</button></li>
    <li><button class="dropdown-item btn btn-light mt-3" data-sharer="email" data-title="Chia sẻ từ thiduananhson.com"
      data-url="{{ request.build_absolute_uri }}" data-subject="Chia sẻ từ thiduananhson.com"
      data-to="some@email.com" data-bs-toggle="tooltip" data-bs-title="Chia sẻ qua email"><i
          class="bi bi-envelope me-2"></i>Chia sẻ qua email</button></li>
    <li><button class="dropdown-item btn btn-copy  btn-light mt-3" data-clipboard-text="{{ request.build_absolute_uri }}"
      id="copyBtn" data-bs-toggle="tooltip" data-bs-title="Copy liên kết"><i class="bi bi-link me-2"></i>Copy liên kết</button></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>
</div>

  </div>
      {% if post.cover %}
      <img src="{{ post.cover.url }}" alt="" class=" my-4 rounded-3 shadow-sm w-100">
        {% endif %}

      <div class="fs-5 mb-4">
        {% if post.youtube_url %}
        {% with video=post %}
          <div class="ratio ratio-16x9 my-3">
            <iframe src="https://www.youtube.com/embed/{{video.youtube_id}}" title="{{video.title}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          {% endwith %}
        {% endif %}
        <article id="article">
          {% autoescape off %}
          {{ post.content }}
          {% endautoescape %}
      </article>

      <!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="imageModalLabel">Xem ảnh</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-dark text-center">
        <img src="" alt="" class="img-fluid" id="imageElementModal">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <a href="#" class="btn btn-primary" download id="downloadBtn"><i class="bi bi-download me-2"></i>Tải ảnh</a>
      </div>
    </div>
  </div>
</div>

      </div>
    </form>
    <form method="post">
      {% csrf_token %}
      <div class="d-flex align-items-center justify-content-end">
        <span class="fs-6 me-3 fw-semibold">{{ post.like }}<i class="ms-2 bi bi-heart-fill text-danger ms-2"></i></span> 
        {% if  has_reaction  %}
        <button type="submit" name="like" class="btn btn-sm btn-outline-danger rounded-pill">
          Đã thích
              </button>
  
        {% else %}
        <button type="submit" name="like" class="btn btn-sm btn-outline-secondary rounded-pill">Thích</button>
        {% endif%}
      </div>

    </form>
    {% include 'include/comment.html' %}
    </div>
    <div class="col-lg-3" >
      <div style="position: sticky;
      top: 100px;">
        {% with author=post.author %}
        {% include 'include/author.html' %}
        {% endwith %}
        {% if latest_posts %}
        {% with posts=latest_posts %}
        <h4 class="pb-2 mb-3 mt-4 border-bottom border-2 border-danger">Bài viết mới</h4>
        {% for post in posts %}
        <div class="card border-0">
        <div class="row g-2 my-1">
          <div class="col-3">
            {% if post.cover %}
            <img src="{{ post.cover.url }}" class="img-fluid rounded-3 shadow-sm" alt="...">
            {% else %}
            <img src="{% static 'imgs/post-cover.png' %}" class="img-fluid rounded-3 shadow-sm" alt="...">
            {% endif %}
          </div>
          <div class="col-9">
            <h6 class="mb-0 fw-normal"> <a href="{% url 'news:post' post_id=post.id %}" class="stretched-link link-dark text-decoration-none">{{ post.title|truncatechars:70 }}</a> </h6>
            <p class="text-muted mt-1"> {{ post.created_time|naturaltime }}</p>
          </div>
          {% if not forloop.last %}
          <div class="col-12"><hr class="my-0"></div>
          {% endif %} 
        </div>
      </div>
        {% endfor %}
        {% endwith %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script>
    function updateImageModal(e){
    const imgModal = document.getElementById('imageElementModal')
    const downloadBtn = document.getElementById('downloadBtn')
    imgModal.src = e.src;
    downloadBtn.href = e.src;
  }
  

  window.onload = function () {
    const postDiv = document.getElementById('article')
    const imgs = postDiv.querySelectorAll("img");
    for (let i = 0; i < imgs.length; i++) {
      imgs[i].style = '';
      imgs[i].className = 'img-fluid rounded-3 shadow-sm my-2';
      let parent = imgs[i].parentNode;
      let wrapper = document.createElement('a');
      parent.replaceChild(wrapper, imgs[i]);
      wrapper.appendChild(imgs[i]);
      wrapper.href = '#';
      wrapper.parentElement.className = 'text-center';
      wrapper.setAttribute("data-bs-toggle", "modal");
      wrapper.setAttribute("data-bs-target", "#imageModal");
      imgs[i].setAttribute("onclick", "updateImageModal(this)");
    }
  };


  function readingTime() {
  const text = document.getElementById("article").innerText;
  const wpm = 225;
  const words = text.trim().split(/\s+/).length;
  const time = Math.ceil(words / wpm);
  document.getElementById("time").innerText = time;
  document.getElementById("time2").innerText = time;
}
readingTime();
</script>
{% endblock %}