{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} - TTYT Anh Sơn</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.4/css/buttons.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/2.1.1/css/searchPanes.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/select/1.6.0/css/select.dataTables.min.css">
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
  <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>
  <link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css">
</head>

<body class="bg-light" style="font-family: Sans-serif;">
  <header class="navbar sticky-top flex-md-nowrap p-0  shadow-sm  bg-warning">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 pt-2 pb-3 py-md-0 d-flex text-bg-warning m-0"
      href="{% url 'dashboard:index' %}">
      <span class="fw-bold">TTYT Anh Sơn</span>
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed m-0" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="w-100 bg-dark m-0 ">
      <!-- Header-->
      <div class="col-12">
        <div class="d-md-flex justify-content-between align-items-center px-sm-4 px-3 py-2 ">
          <div class="">
            <h5 class="mb-2 m-sm-0 p-0 text-warning d-none d-sm-block">
              <a href="javascript:window.location.href=window.location.href" class="text-decoration-none text-reset">
                {% block header %}
                {% endblock %}
              </a>
            </h5>
          </div>
          {% if not hidden_top_filter %}
          <div class="justify-content-end-md justify-content-between d-flex align-items-center">
            <div>
              <form method="get" id="dayForm">
              <input type="date" class="border border-secondary rounded-1 py-1 px-2 me-2 border-secondary text-muted"
                id="dateQuery" value="" name="time">
                <button type="submit" class="d-none"></button>
              </form>
            </div>
            <div class="">
              <form method="get">
                <button class="btn btn-sm btn-light" type="submit" name="time" value="yesterday">Hôm qua</button>
                <div class="btn-group">
                  <button class="btn btn-sm btn-warning ms-1" type="submit" name="time" value="today">Hôm nay</button>
                  <button type="button" class="btn btn-warning btn-sm dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><button class="dropdown-item" type="submit" name="time" value="week">Tuần</button></li>
                    <li><button class="dropdown-item" type="submit" name="time" value="month">Tháng</button></li>
                    <li><button class="dropdown-item" type="submit" name="time" value="year">Năm</button></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><button class="dropdown-item" type="button" data-bs-toggle="modal"
                        data-bs-target="#customTimeModal">Tùy chỉnh</button></li>
                  </ul>
                </div>
              </form>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <!-- Header-->
    </div>
  </header>
  <div class="container-fluid ">
    <!-- Modal -->
    <div class="modal fade" id="customTimeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Tùy chỉnh thời gian</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="get">
            <div class="modal-body">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Từ</span>
                <input type="datetime-local" class="form-control" placeholder="Username" aria-label="Username"
                  aria-describedby="basic-addon1" name="start">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Đến</span>
                <input type="datetime-local" class="form-control" placeholder="Username" aria-label="Username"
                  aria-describedby="basic-addon1" name="end">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
              <button type="submit" class="btn btn-primary"><i
                  class="fa-solid fa-magnifying-glass me-2"></i>Xem</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      {% include 'dashboard/sidebar.html' %}
      <main class="col-md-9 ms-sm-auto col-lg-10 bg-light ">
        <div class="container-fluid p-0 p-sm-3">
          <div class="row mt-3 mb-2">
            <div class="col-12">
              {% if breadcrumbs %}
              {% include "dashboard/breadcrumbs.html" with breadcrumbs=breadcrumbs%}
              {% endif %}
              <hr class="my-2">
              <div class="d-flex flex-column flex-sm-row justify-content-start align-items-start mb-1 text-truncate">
                {% if value.today %} <p class="h6 me-3 m-0" id="date_today"></p><span class="text-muted fst-italic">{%
                  if value.diff %} {{ value.diff }} ngày, từ {{ value.start }} đến {{ value.end }} {% endif %}</span> {%
                endif %}
              </div>
              <div class="alert alert-primary d-none alert-dismissible fade show my-2" role="alert" id="loading">
                <div class="d-flex align-items-center">
                  <div class="spinner-grow spinner-grow-sm me-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <span>Đang tải dữ liệu, vui lòng đợi...</span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
          </div>
          {% block content %}
          {% endblock %}
        </div>
        {% include 'dashboard/footer.html' %}
      </main>
    </div>
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
    integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
    integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
    crossorigin="anonymous"></script>
  <script src="{% static 'dashboard/js/dashboard.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>

  {% if value.today %}
  <script>
    new ClipboardJS('.btnClipboard');
    const dateToday = document.getElementById('date_today');
    const today = value.today | tojson;
    const event = new Date(today);
    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
    const dayLocale = event.toLocaleDateString('vi-VN', options)
    dateToday.textContent = dayLocale
  </script>
  {% endif %}

  <script>
    let btns = document.querySelectorAll('button[type="submit"]');
    btns.forEach(btn => {

      btn.addEventListener('click', (event) => {
        const loadingElement = document.getElementById('loading')
        loadingElement.classList.remove("d-none");
      });
    });
  </script>

  <script>
    const dateQuery = document.getElementById("dateQuery");
    dateQuery.addEventListener('change', function(){
      document.getElementById("dayForm").submit();
    } );
  </script>
</body>
</html>