{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% include 'top_filter.html' %}

        <!-- Update mới nhất -->
        <!-- Button trigger modal -->
        <a href="#" class="mb-2 text-end text-decoration-none fst-italic"  data-bs-toggle="modal" data-bs-target="#lastUpdateModal">
            cập nhập mới nhất: value.last_update_time </a> 
  
  <!-- Modal -->
  <div class="modal fade" id="lastUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul>
       
            <li>dfg</li>
           
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    {% include 'table/revenue_full.html'%}
  </div>


        <!-- End Biểu đồ 30 lượt khám -->

        


    </div>


            

            <script>
                $(document).ready(function () {
    $('#example').DataTable();
});
            </script>
   
</div>
</div>
<script>
    const urlGenerator = '/confirmed/';
    const todayURL = "{{ url_for('confirmed') }}"
</script>
<script src="{{ url_for('static', filename='js/myjs.js')}}"></script>
{% endblock %}