<div class="d-flex flex-column flex-sm-row justify-content-start align-items-start mb-1 text-truncate">

     {% if value.today %}   <p class="h6 me-3 m-0" id="date_today"></p><span class="text-muted fst-italic">{% if value.diff %} {{ value.diff }} ngày, từ {{ value.start }} đến {{ value.end }} {% endif %}</span> {% endif %}

<!-- 
        <a href="#" class="m-0 text-end text-decoration-none fst-italic d-flex" data-bs-toggle="modal"
            data-bs-target="#lastUpdateModal">
            <div class="d-none d-sm-block">Cập nhập mới nhất: {{ value.recent_action_time }}</div> </a> -->
        </div>

<!-- Modal -->
<div class="modal fade" id="lastUpdateModal" tabindex="-1" aria-labelledby="lastUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="lastUpdateModalLabel">Chi tiết tiếp nhận</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for e in value.recent_detail %}
                <p>{{e}}</p>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>