<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse navbar bg-white ">
    <div class="position-sticky sidebar-sticky">
      <ul class="nav flex-column" id="ulSidebar">
        <li class="nav-item">
          <a class="nav-link  'active' if active=='home'" href="{% url 'dashboard:index' %}">
            <i class="fa-solid fa-chart-simple" style="width: 22px;"></i>
            Trang chủ
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  'active' if active=='revenue'" href=" url_for('revenue', day_query=value.today
          ,time = request.args.get('time'),
          start = request.args.get('start'),
          end = request.args.get('end')) ">
            <i class="fa-solid fa-file-invoice" style="width: 22px;"></i>
            Doanh thu
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  'active' if active=='visited' " href=" url_for('visited', day_query=value.today
          ,time = request.args.get('time'),
          start = request.args.get('start'),
          end = request.args.get('end')) ">
            <i class="fa-solid fa-hospital-user"  style="width: 22px;"></i>
            Khám bệnh
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  'active' if active=='hospitalized'"  href=" url_for('hospitalized', day_query=value.today
          ,time = request.args.get('time'),
          start = request.args.get('start'),
          end = request.args.get('end')) ">
            <i class="fa-solid fa-bed-pulse"  style="width: 22px;"></i>
            Nội trú
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  'active' if active=='patient'"  href=" url_for('all_patients') ">
            <i class="fa-solid fa-book-medical"  style="width: 22px;"></i>
            Hồ sơ bệnh nhân
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  'active' if active=='patient'"  href=" url_for('all_patients') ">
            <i class="fa-solid fa-folder-open" style="width: 22px;"></i>
            Báo cáo tổng hợp
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  'active' if active=='news'"  href=" url_for('news') ">
            <i class="fa-solid fa-newspaper"  style="width: 22px;"></i>
           Thông tin công việc
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  'active' if active=='addressbook'"  href=" url_for('addressbook') ">
            <i class="fa-solid fa-address-book"  style="width: 22px;"></i>
           Danh bạ nhân viên
          </a>
        </li>
      </ul>

      
      <h6
        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
        <span>Quản trị</span>

      </h6>
      <a href=" url_for('user_login')" class="btn btn-outline-primary btn-sm ms-3 mt-3"><i class="fa-solid fa-right-to-bracket me-2"></i>Đăng nhập</a>
 
      <a href=" url_for('admin')" class="btn btn-outline-primary btn-sm ms-3 mt-3"><i class="fa-solid fa-user me-2"></i>Quản trị</a>
      <a href=" url_for('user_logout')" class="btn btn-primary btn-sm ms-3 me-3 mt-3"><i class="fa-solid fa-right-from-bracket me-2"></i>Đăng xuất</a>
   


    </div>
  </nav>