{% load humanize %}
{% load static %}
<div class="container">
  <div class="row my-4 justify-content-center">
    <div class="col-lg-12">
        <h1 class="text-dark display-6 fw-semibold m-0 text-center">CÁC CHUYÊN KHOA</h1>
    </div>
    </div>
    <div class="row mb-5 justify-content-center">
      <div class="col-lg-10">
        <div class="row justify-content-center">
  {% for video in '123456' %}
  <div class="col-lg-4 mt-4 ">
    <div class="card card-cover h-100 overflow-hidden rounded shadow-sm border"
style="background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.30)),url('https://vinmec-prod.s3.amazonaws.com/original_images/20210511_010527_200993_Nhi.jpg'); background-size: cover; " >
  <div class="d-flex flex-column h-100 py-5 px-3 text-white text-shadow-1">
    <h4 class="my-5  lh-1 fw-bold"><a href="{% url 'news:post' post_id=1 %}" class="stretched-link text-decoration-none link-light">Khoa YHCT</a> </h4>

  </div>
</div>
  </div>

  {% endfor %}
</div>
</div>
  </div>
</div>





