<div class="dropdown-menu rounded-4 shadow-sm px-2" style="width: 400px;">
    <div class="row g-0 border-bottom">
      <div class="col-4 border-end">
        <div class="card border-0 text-center">
          <div class="card-body">
            <h3><i class="bi bi-person-circle"></i></h3>
           <a href="#" class="stretched-link link-body-emphasis text-decoration-none fw-medium small">TÀI KHOẢN</a>
          </div>
        </div>
      </div>
      <div class="col-4  border-end">
        <div class="card border-0 text-center">
          <div class="card-body">
            <h3><i class="bi bi-newspaper"></i></h3>
           <a href="{% url 'news:index' %}" class="stretched-link link-body-emphasis text-decoration-none fw-medium small">TIN TỨC</a>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card border-0 text-center">
          <div class="card-body">
            <h3><i class="bi bi-file-medical"></i></h3>
           <a href="#" class="stretched-link link-body-emphasis text-decoration-none fw-medium small">SỔ SỨC KHỎE</a>
          </div>
        </div>
      </div>
  </div>
    <div class="row g-0 border-bottom">
      <div class="col-4  border-end">
        <div class="card border-0 text-center">
          <div class="card-body">
            <h3><i class="bi bi-house-lock-fill"></i></h3>
           <a href="{% url 'hrm:index' %}" class="stretched-link link-body-emphasis text-decoration-none fw-medium small">NỘI BỘ</a>
          </div>
        </div>
      </div>
      
      <div class="col-4 border-end">
        <div class="card border-0 text-center">
          <div class="card-body">
            <h3><i class="bi bi-graph-up-arrow"></i></h3>
           <a href="http://benhvienanhson.com:8000/" class="stretched-link link-body-emphasis text-decoration-none fw-medium small">DASHBOARD</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card border-0 text-center">
          <div class="card-body">
            <h3><i class="bi bi-sliders"></i></h3>
           <a href="#" class="stretched-link link-body-emphasis text-decoration-none fw-medium small">CHẤT LƯỢNG BỆNH VIỆN</a>
          </div>
        </div>
      </div>
  </div>
    <div class="row g-0">
    
      <div class="col-4 border-end">
        <div class="card border-0 text-center">
          <div class="card-body">
            <h3><i class="bi bi-megaphone"></i></h3>
           <a href="{% url 'communication:index' %}" class="stretched-link link-body-emphasis text-decoration-none fw-medium small">TRUYỀN THÔNG</a>
          </div>
        </div>
      </div>
  </div>
</div>
