{% load static %}
<div class=" d-none d-sm-block d-flex flex-column mt-4 fs-5 text-muted align-items-end justify-content-end pe-5" style="position: sticky;
top: 100px;">
    <div class="d-flex flex-row flex-sm-column justify-content-end align-items-end">
        <button class="btn btn-light" data-sharer="facebook" data-hashtag="benhvienanhson.com"
            data-url="{{ request.build_absolute_uri }}" data-bs-toggle="tooltip" data-bs-title="Chia sẻ qua facebook"><i
                class="bi bi-facebook"></i></button>
        <button class="btn  btn-light mt-3" data-sharer="email" data-title="{{ post.description }}"
            data-url="{{ request.build_absolute_uri }}" data-subject="{{ post.title }}"
            data-to="some@email.com" data-bs-toggle="tooltip" data-bs-title="Chia sẻ qua email"><i
                class="bi bi-envelope mt-2"></i></button>
        <button class="btn btn-copy  btn-light mt-3" data-clipboard-text="{{ request.build_absolute_uri }}"
            id="copyBtn" data-bs-toggle="tooltip" data-bs-title="Copy liên kết"><i class="bi bi-link mt-2"></i></button>
        <button class="btn btn-light mt-3" data-bs-toggle="tooltip" data-bs-title="In bài viết"
            onclick="printJS('printJS-form', 'html')"><i class="bi bi-printer mt-2"></i></button>
    </div>
    
    <div class="d-flex flex-row flex-sm-column align-items-end">

        <form method="post">
            {% csrf_token %}
            <button type="submit" name="like" class="mt-3 btn btn-light"><i
                    class="bi bi-bookmark{% if  has_reaction  %}-fill text-dark{% endif %}" data-bs-toggle="tooltip"
                    data-bs-title="Lưu bài viết"></i>
                </button>
        </form>


        <a href="#comment" class=" btn btn-light position-relative mt-3">
            <span data-bs-toggle="tooltip" data-bs-title="Bình luận">
                <i class="bi bi-chat-left-text"></i>
            </span>

            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-light opacity-75 ">
                {{ post.comment_set.all|length }}
                <span class="visually-hidden">unread messages</span>
              </span>
        </a>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="like" class="mt-3 btn btn-light position-relative"><i
                    class="bi bi-heart{% if  has_reaction  %}-fill text-danger{% endif %}" data-bs-toggle="tooltip"
                    data-bs-title="Lượt thích"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-light  opacity-75">
                        {{  post.like }}
                        <span class="visually-hidden">unread messages</span>
                      </span>
                </button>
        </form>

        <button  class="mt-3 btn btn-light position-relative" data-bs-toggle="tooltip" data-bs-title="Số người xem">
            <i class="bi bi-eye mt-2 mb-0" ></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-light  opacity-75">
                {{  post.view_count }}
                <span class="visually-hidden">unread messages</span>
              </span>
        </button>
        
        <a href="{% url 'index' %}" class="btn btn-light mt-3">
            <i class="bi bi-house-door" data-bs-toggle="tooltip" data-bs-title="Về trang chủ"></i>
        </a>
    </div>
</div>